

.textareacm{
    width: 50%; 
    height: 100px; 
    resize: none;
    border-radius: 1%;
    margin-top: 10px;
}


.formbtn {
    width: 50%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border:none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}